body {
	padding: 50px;
	padding-left: 500px;
	background-color: #66ccff;
	font-family: sans-serif;
}

#container {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: flex;
}
